.project-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 45px;
}
.project-card{
    width: 300px;
    min-height: 350px;
    background: #fff;
    /* box-shadow: 0px 10px 30px rgba(0,0,0,0.4); */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    
}
.project-card:hover{
   
    box-shadow: 0px 40px 50px rgba(0,0,0,0.4);
    transition: all 0.4s ease-in-out;
}
.image-container{
    width: 100%;
    border-radius: 20px;

}
.project-link{
    border-radius: 20px 20px 0 0;


}
.project-image{
    display: block;
    border-radius: inherit;
    max-width: 100%;
    max-height: 100%;
    /* background-size: 100%; */
    object-fit: contain;
}
.project-details-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;


}
.project-url2{
    font-weight: 600px;
    color: #4089ed;
}
.project-name{
    margin: 0px;

}
.project-details{
    font-weight: 300px;
    font-size: 14px;
    line-height: 28px;
    color: gray;
}